.recommendation-list-slider a {
    text-decoration: none;
    color: #000;
}
.recommendation-list-slider a:hover {
    text-decoration: none;
    color: #000;
}
.recommendation-section {
    margin-top: 20px;
    padding: 1rem;
    background-color: #d1d5d9;
    border-radius: 10px;
}

.recommendation-list {
    display: flex;
    overflow-x: auto;
}
.recommendation-list-slider {
    display: flex;
    gap: 1rem;
}
.recommendation-list::-webkit-scrollbar {
    display: none;
  }  
